<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blocked Hosts</title>
</head>
<body>
  <h3>
    Blocked Hosts
  </h3>
  <div style="padding-left:10px">
    <table>
      <th>
        Host
      </th>
      <% @@blocked_hosts.each do |blocked_host| %>
          <tr>
            <td>
              <%= blocked_host %>
            </td>
            <td style="padding-left:50px">
              <a href="/unblock?host=<%= blocked_host %>">
                Unblock
              </a>
            </td>
          </tr>
      <% end %>
    </table>
  </div>
  <h3>
    Block new Host
  </h3>
  <div style="padding-left:10px">
    <table>
      <th> Host Name </th>
      <tr>
        <td>
          <input id="block-new-host-input" type="text"/>
        </td>
        <td style="padding-left:50px">
          <a id="block-new-host-link">
            Block
          </a>
        </td>
      </tr>
    </table>
  </div>
</body>
<script type="text/javascript" src="/public/js/script.js" defer></script>
</html>